*{
    font-family: 'Kanit', sans-serif;
}
ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 20px;
}
body {
    background-image: url(https://images.unsplash.com/photo-1583144568008-76743354fa5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGFlc3RoZXRpY3xlbnwwfHwwfHw%3D&w=1000&q=80);
    background-size: cover; 
    background-position: center;
}
#todo{
    display: flex;
}
#principal {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    border-radius: 37px;
    padding: 60px;
    margin: 50 auto;
    background-color: rgba(255, 255, 255, 0.85);
    
}
.centrado{
    display: flex;
    align-items: center;
}
#foto {
    border-radius: 100%;
}
#datos1 {
    list-style-type: none;
    margin-top: 30px;
    margin-left: -15px;
}
.dato {
    display: flex;
    margin-bottom: 20px;
}
#izquierdadatos {
    margin-right: 60px;
}

#contenido {
    max-width: 700px;
    gap: 200px;
}
.titulo1 {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    text-transform: uppercase;
}
.titulo1:first-of-type{
    margin-top: 10px;
}
#contenido-descripcion{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
}
.iconito {
    margin-right: 20px;
}
#socials{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
}
.social-icon-clickable{
    transition: 0.2s;
}
.social-icon-clickable:hover{
    transform: scale(1.2);
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}